html, body {
    background-color: #2c0707;
    font-size: 14px;
}

figure.world-container {
    text-align: center;
}

figure.world-container figcaption {
    text-align: left;
    margin-left: 3em;
}

canvas.world {
    padding: 0;
    box-shadow: 0 0 8em rgba(200, 120, 55, 1);
}


.indicator {
    color: rgb(200, 120, 55);
    font-family: serif;
    text-shadow: 0 0 0.4em rgb(0, 0, 0);
}
.indicator .value {
    font-weight: bold;
    font-family: monospace;
}

.indicator.hidden {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    opacity: 0;
}